  .container-skills{
    width: 93%;
    margin-right: auto;
    padding: 0px 40px;
    .fab, .fa{
        position: absolute;
        margin-top: -38px !important;
        margin-left: -32px; 
    }
  }
  @keyframes load{
    from {
      width: 0%
    }
  }
  @-webkit-keyframes load{
    from {
      width: 0%
    }
  }
  @-moz-keyframes load{
    from {
      width: 0%
    }
  }
  @-o-keyframes load{
    from {
      width: 0%
    }
  }
  
  .bar{
    background-color: #EEE;
    padding: 2px;
    border-radius: 15px;
    margin-bottom: 5px;
    font-size: 14px;
    color: #FFF;
  }
  .bar::before{
    content:  attr(data-skill);
    background-color: $gray-700;
    display: inline-block;
    opacity: 0.75;
    padding: 5px 0 5px 10px;
    border-radius: inherit;
    animation: load 5s 0s;
    -webkit-animation: load 5s 0s;
    -moz-animation: load 5s 0s;
    -o-animation: load 5s 0s;
  }

  
  .bar.first::before{
    background-color: $tech-primary;
  }
  .bar.second::before{
    background-color: $tech-secondary;
  }
  .bar.tertiary::before{
    background-color: $tech-tertiary;
  }
  .bar.cuaternary::before{
    background-color: $tech-cuaternary;
  }
  
  .bar.learning::before{
    width: calc(20% - 10px);
  }
  .bar.basic::before{
    width: calc(40% - 10px);
  }
  .bar.intermediate::before{
    width: calc(60% - 10px);
  }
  .bar.good::before{
    width: calc(65% - 10px);
  }
  .bar.very-good::before{
    width: calc(70% - 10px);
  }
  .bar.great::before{
    width: calc(75% - 10px);
  }
  .bar.advanced::before{
    width: calc(80% - 10px);
  }
  .bar.expert::before{
    width: calc(88% - 10px);
  }

  @media(max-width:767px) {
    .container-skills{
        width: 100%;
        margin-right: auto;
        padding: 0px 10px 0px 40px;
    }
  }