body {
  font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  padding-top: 54px;
  color: #868e96; }

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-weight: 700;
  text-transform: uppercase;
  color: #343a40; }

h1 {
  font-size: 6rem;
  line-height: 5.5rem; }

h2 {
  font-size: 3.5rem; }

h3 {
  font-size: 2rem; }

p.lead {
  font-size: 1.15rem;
  font-weight: 400; }

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1.5rem; }

.social-icons a {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #495057;
  color: #fff !important;
  border-radius: 100%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 3.5rem;
  margin-right: 1rem; }
  .social-icons a:last-child {
    margin-right: 0; }
  .social-icons a:hover {
    background-color: #BD5D38; }

.fa-rotate-90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg); }

.dev-icons {
  font-size: 3rem; }
  .dev-icons .list-inline-item i:hover {
    color: #BD5D38; }

.tag {
  padding: 7px 7px;
  line-height: 1.9 !important;
  color: white;
  font-size: 12px;
  border-radius: 10px;
  margin: 7px 2px;
  opacity: 0.75; }
  .tag .first {
    background-color: #868e96; }
    .tag .first:hover {
      opacity: 1; }
  .tag .second {
    background-color: #dc3545; }
    .tag .second:hover {
      opacity: 1; }
  .tag .tertiary {
    background-color: #BD5D38; }
    .tag .tertiary:hover {
      opacity: 1; }
  .tag .cuaternary {
    background-color: #6f42c1; }
    .tag .cuaternary:hover {
      opacity: 1; }

@media (max-width: 340px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    word-break: break-word; }
  .tag {
    word-break: break-word; } }

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 800;
  letter-spacing: 0.05rem;
  text-transform: uppercase; }

#sideNav .navbar-toggler:focus {
  outline-color: #d48a6e; }

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh; }
    #sideNav .navbar-brand {
      display: flex;
      margin: auto auto 0;
      padding: 0.5rem; }
      #sideNav .navbar-brand .img-profile {
        max-width: 10rem;
        max-height: 10rem;
        border: 0.5rem solid rgba(255, 255, 255, 0.2); }
    #sideNav .navbar-collapse {
      display: flex;
      align-items: flex-start;
      flex-grow: 0;
      width: 100%;
      margin-bottom: auto; }
      #sideNav .navbar-collapse .navbar-nav {
        flex-direction: column;
        width: 100%; }
        #sideNav .navbar-collapse .navbar-nav .nav-item {
          display: block; }
          #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
            display: block; } }

section.resume-section {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important; }
  section.resume-section .resume-item .resume-date {
    min-width: none; }

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh; }
    section.resume-section .resume-item .resume-date {
      min-width: 18rem; } }

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important; } }

#portfolio {
  background-color: #f1f2f3 !important; }
  #portfolio a {
    color: #000000 !important; }
  #portfolio .btn {
    margin-bottom: 5px; }
  #portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px; }
    #portfolio .portfolio-item .portfolio-link {
      background-color: #000000;
      position: relative;
      display: block;
      max-width: 400px;
      margin: 0 auto;
      cursor: pointer; }
      #portfolio .portfolio-item .portfolio-link img {
        height: 20vw;
        object-fit: cover;
        min-width: 100%;
        opacity: 0.6; }
      #portfolio .portfolio-item .portfolio-link .portfolio-hover {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-transition: all ease 0.5s;
        -moz-transition: all ease 0.5s;
        transition: all ease 0.5s;
        opacity: 0;
        background: rgba(189, 93, 56, 0.9); }
        #portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
          opacity: 1; }
        #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
          font-size: 20px;
          position: absolute;
          top: 50%;
          width: 100%;
          height: 20px;
          margin-top: -12px;
          text-align: center;
          color: white; }
          #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
            margin-top: -12px; }
          #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
          #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
            margin: 0; }
    #portfolio .portfolio-item .portfolio-caption {
      max-width: 400px;
      margin: 0 auto;
      padding: 25px;
      text-align: center;
      background-color: #fff; }
      #portfolio .portfolio-item .portfolio-caption h4 {
        margin: 0;
        text-transform: none; }
      #portfolio .portfolio-item .portfolio-caption p {
        font-size: 16px;
        margin: 0; }
  #portfolio * {
    z-index: 2; }

@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px; } }

.portfolio-modal .modal-dialog {
  margin: auto;
  max-width: 70vw; }

.portfolio-modal .modal-content {
  padding: 80px 0 40px 0;
  text-align: center; }
  .portfolio-modal .modal-content h2 {
    font-size: 3em; }
  .portfolio-modal .modal-content p {
    margin-bottom: 30px; }
  .portfolio-modal .modal-content p.item-intro {
    font-size: 16px;
    font-style: italic;
    margin: 0 0 10px; }
  .portfolio-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px; }
  .portfolio-modal .modal-content img {
    margin-bottom: 30px;
    max-height: 47vh; }
  .portfolio-modal .modal-content button {
    cursor: pointer; }

.portfolio-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  cursor: pointer;
  background-color: transparent; }
  .portfolio-modal .close-modal:hover {
    opacity: 0.3; }
  .portfolio-modal .close-modal .lr {
    /* Safari and Chrome */
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #212529; }
    .portfolio-modal .close-modal .lr .rl {
      /* Safari and Chrome */
      z-index: 1052;
      width: 1px;
      height: 75px;
      /* IE 9 */
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      background-color: #212529; }

@media (max-width: 768px) {
  .portfolio-item .portfolio-link img {
    height: 30vh !important; }
  .portfolio-modal .modal-dialog {
    max-width: 90vw; }
  .tag {
    line-height: 3 !important; } }

.container-skills {
  width: 93%;
  margin-right: auto;
  padding: 0px 40px; }
  .container-skills .fab, .container-skills .fa {
    position: absolute;
    margin-top: -38px !important;
    margin-left: -32px; }

@keyframes load {
  from {
    width: 0%; } }

@-webkit-keyframes load {
  from {
    width: 0%; } }

@-moz-keyframes load {
  from {
    width: 0%; } }

@-o-keyframes load {
  from {
    width: 0%; } }

.bar {
  background-color: #EEE;
  padding: 2px;
  border-radius: 15px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #FFF; }

.bar::before {
  content: attr(data-skill);
  background-color: #495057;
  display: inline-block;
  opacity: 0.75;
  padding: 5px 0 5px 10px;
  border-radius: inherit;
  animation: load 5s 0s;
  -webkit-animation: load 5s 0s;
  -moz-animation: load 5s 0s;
  -o-animation: load 5s 0s; }

.bar.first::before {
  background-color: #868e96; }

.bar.second::before {
  background-color: #dc3545; }

.bar.tertiary::before {
  background-color: #BD5D38; }

.bar.cuaternary::before {
  background-color: #6f42c1; }

.bar.learning::before {
  width: calc(20% - 10px); }

.bar.basic::before {
  width: calc(40% - 10px); }

.bar.intermediate::before {
  width: calc(60% - 10px); }

.bar.good::before {
  width: calc(65% - 10px); }

.bar.very-good::before {
  width: calc(70% - 10px); }

.bar.great::before {
  width: calc(75% - 10px); }

.bar.advanced::before {
  width: calc(80% - 10px); }

.bar.expert::before {
  width: calc(88% - 10px); }

@media (max-width: 767px) {
  .container-skills {
    width: 100%;
    margin-right: auto;
    padding: 0px 10px 0px 40px; } }

.bg-primary {
  background-color: #BD5D38 !important; }

.text-primary {
  color: #BD5D38 !important; }

a {
  color: #BD5D38; }
  a:hover, a:focus, a:active {
    color: #824027; }
